# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Angular / Node
node_modules/
.angular/
dist/
.npm/

# IDEs
.vscode/
.idea/
*.iml
*.iws
.project
.settings/
.classpath

# OS Junk
.DS_Store
Thumbs.db
*.log